<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>

<style>
  #byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #byte_range { margin-top: 5px; }
</style>


<div class="progress">
  <div id="pbar" class="progress-bar" aria-valuenow="0" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    <span class="sr-only">0% Complete</span>
  </div>
</div>


<input type="file" id="files" name="file" /> Read bytes: 
<span class="readBytesButtons">
  <button data-startbyte="0" data-endbyte="4">1-5</button>
  <button data-startbyte="5" data-endbyte="14">6-15</button>
  <button data-startbyte="6" data-endbyte="7">7-8</button>
  <button>entire file</button>
</span>
<div id="byte_range"></div>
<div id="byte_content"></div>
<script src="//code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script>

$(function() {
    console.log( "ready!" );
});




var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 800 - margin.left - margin.right,
    height = 350 - margin.top - margin.bottom;

var timeFormat = d3.time.format("%H:%M:%S");

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(function(d){return d3.time.format('%H:%M:%S')(new Date(d));});

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");    
    // .tickFormat(timeFormat);

var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) { return x( d.date); })
    .y(function(d) { console.log(d); return y(  d.responsetime); }); //console.log('d;',d);




// function drawChart (csvchunk) {

  // d3.select("svg").remove();  


var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");




  // csvchunk = 'date,responsetime,samplelabel,responsecode,responsemessage,threadgroup,datatype,assertion,bytes,latency\n'+csvchunk;

  
  d3.csv("/static/sample.jtl", function(error, data) {

  color.domain(d3.keys(data[0]).filter(function(key) { return key == "samplelabel"; }));
   
// first we need to corerce the data into the right formats

  data = data.map( function (d) { 
    return { 
      samplelabel: d.samplelabel,
      date: new Date(+d.date),
      responsetime: +d.responsetime }; 
});   
  
  
// then we need to nest the data on city since we want to only draw one
// line per city
  data = d3.nest().key(function(d) { return d.samplelabel; }).entries(data);


  x.domain([d3.min(data, function(d) { return d3.min(d.values, function (d) { return d.date; }); }),
             d3.max(data, function(d) { return d3.max(d.values, function (d) { return d.date; }); })]);
  y.domain([0, d3.max(data, function(d) { return d3.max(d.values, function (d) { return d.responsetime; }); })]);

                                                                                   
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  var labels = svg.selectAll(".samplelabel")
      .data(data, function(d) { return d.key; })
    .enter().append("g")
      .attr("class", "samplelabel");

  labels.append("path")
      .attr("class", "line")
      .attr("d", function(d) { return line(d.values); })
      .style("stroke", function(d) { return color(d.key); });

}); 










    // var data = d3.csv.parse(csvchunk, function(rowobject)
    // {
    //       rowobject.date = new Date(+rowobject.date);
    //       rowobject.responsetime = +rowobject.responsetime;
    //       rowobject.samplelabel = rowobject.samplelabel;

    //       // console.log(rowobject)
    //       return rowobject 
    // });

    // color.domain(d3.keys(data[0]).filter(function(key) { return key=="samplelabel"; }));
    // data = data.map( function (d) {
    //   return {
    //     label: d.samplelabel,
    //     date: d.date,
    //     responsetime: d.responsetime
    //   };
    // });

    // // console.log('data:',data[0]);

    
    
    // data = d3.nest().key(function(d) { return d.samplelabel; }).entries(data);
    // x.domain(d3.extent(data, function(d) { return d.date; }));
    // y.domain(d3.extent(data, function(d) { return d.responsetime; }));

    // // 
    

    // svg.append("g")
    //         .attr("class", "x axis")
    //         .attr("transform", "translate(0," + height + ")")
    //         .call(xAxis)
    //         .append("text")
    //         .text("Time")
    //         .style("text-anchor", "end")
    //         .attr("x",width);

    // svg.append("g")
    //         .attr("class", "y axis")
    //         .call(yAxis)
    //       .append("text")
    //         .attr("transform", "rotate(-90)")
    //         .attr("y", 6)
    //         .attr("dy", ".71em")
    //         .style("text-anchor", "end")
    //         .text("Response Time (ms)");

    // // svg.append("path")
    // //         .datum(data)
    // //         .attr("class", "line")
    // //         .attr("d", line);

    // var labels = svg.selectAll(".samplelabel")
    //               .data(data, function(d) { return d.samplelabel; })
    //               .enter().append("g")
    //               .attr("class", "samplelabel")

    // labels.append("path")
    //   .attr("class", "line")
    //   .attr("d", function(d) { return line(d.values); })
    //   // .style("stroke", function(d) { return color(d.key); });


    
    
      // , function(row) 
      //             {
      //               console.log("Row:"+row)
      //               var m={ date: row[0], responsetime: row[1], label: row[2], responsecode: row[3] };
      //               console.log("m:"+m);
      //               return m;

                    // return row.map(function(value) 
                    //                 {
                    //                   console.log("Value:"+value)
                    //                   var m={ date: row[0], responsetime: row[1], label: row[2], responsecode: 
                    //                   return +value;
                    //                 });
                  // });
  // console.log(data);

//   d3.csv.parseRows(csvchunk, function(error, data) {
//   if (error) throw error;
  // console.log("in d3 csv, data:"+data)

  // data.forEach(function(d) {
  //   console.log("data for each: "+d);
  //   d.date = new Date(d[0])
  //   d.responsetime = +d[1];
  // });

// for (i = 0; i < data.length; i++) {

//   x.domain(d3.extent(data, function(d) { return d.date; }));
//   y.domain(d3.extent(data, function(d) { return d.responsetime; }));

//   svg.append("g")
//       .attr("class", "x axis")
//       .attr("transform", "translate(0," + height + ")")
//       .call(xAxis);

//   svg.append("g")
//       .attr("class", "y axis")
//       .call(yAxis)
//     .append("text")
//       .attr("transform", "rotate(-90)")
//       .attr("y", 6)
//       .attr("dy", ".71em")
//       .style("text-anchor", "end")
//       .text("Response Time (ms)");

//                 // data[i].date = new Date(data[i].date);
//                 // data[i].responsetime = +data[i].responsetime;
//                 console.log('data after parse:' + new Date(+data[i][0]))
//                 svg.append("path")
//                   .data(data)
//                   .attr("class", "line")
//                   .attr("d", line);
//             }

 // svg.append("path")
 //      .datum(data)
 //      .attr("class", "line")
 //      .attr("d", line);

  // x.domain(d3.extent(data, function(d) { return d.date; }));
  // y.domain(d3.extent(data, function(d) { return d.responsetime; }));

  // svg.append("g")
  //     .attr("class", "x axis")
  //     .attr("transform", "translate(0," + height + ")")
  //     .call(xAxis);

  // svg.append("g")
  //     .attr("class", "y axis")
  //     .call(yAxis)
  //   .append("text")
  //     .attr("transform", "rotate(-90)")
  //     .attr("y", 6)
  //     .attr("dy", ".71em")
  //     .style("text-anchor", "end")
  //     .text("Price ($)");

  // svg.append("path")
  //     .datum(data)
  //     .attr("class", "line")
  //     .attr("d", line);
// });

// }
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


