<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<style>
  #byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #byte_range { margin-top: 5px; }
</style>


<div class="progress">
  <div id="pbar" class="progress-bar" aria-valuenow="0" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    <span class="sr-only">0% Complete</span>
  </div>
</div>


<input type="file" id="files" name="file" /> Read bytes: 
<span class="readBytesButtons">
  <button data-startbyte="0" data-endbyte="4">1-5</button>
  <button data-startbyte="5" data-endbyte="14">6-15</button>
  <button data-startbyte="6" data-endbyte="7">7-8</button>
  <button>entire file</button>
</span>
<div id="byte_range"></div>
<div id="byte_content"></div>

<script>

function getFileName (event) {
  console.log('new file selected', event)
}

document.getElementById('files').onchange= function(event)
{

  console.log("change", event);
  progressNode = document.getElementById("pbar");

  var files = document.getElementById('files').files;
    if (!files.length) 
    {
      alert('Please select a file!');
      return;
    }

    var file = files[0];

    var reader = new FileReader();


    reader.onprogress = function(event) 
    {
      
      if (event.lengthComputable) 
      {
          progressNode.max = 1;
          var valeur = parseInt(event.loaded/event.total*100);
          progressNode.value = event.loaded/event.total;
          $('.progress-bar').css('width', valeur+'%').attr('aria-valuenow', valeur); 
          console.log('on progress, loaded:',event.loaded );
          console.log('on progress, total:',event.total );
          console.log('on progress, ratio:',event.loaded/event.total );

      }
    };

    reader.onloadend = function(event) 
    {
    var contents = event.target.result,
        error    = event.target.error;

      if (error != null) 
      {
          console.error("File could not be read! Code " + error.code);
      } 
      else 
      {
          progressNode.max = 1;
          progressNode.value = 1;
          console.log('done:' );
          // console.log("Contents: " + contents);
          callback(contents);


      }
    };

     reader.readAsText(file);


  };


function sleep(el) { setTimeout(function() { foobar_cont(el); }, 5000); } 

function callback(text) {
  // console.log("********\r\ntext:"+text+"\r\n***************");
  a=text.split("\n")
  // console.log(a.length)
  // console.log(a)
  a.pop()
  text=a.join("\n")
  
  drawChart(text);
  console.log("called drawChart");
}







var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;


var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category20();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line().interpolate("basis")
    .x(function(d) { return x( d.date); })
    .y(function(d) { return y( d.responsetime); });


function drawChart (csvchunk) {

  d3.select("svg").remove();  


var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");




  csvchunk = 'date,responsetime,label,responsecode,responsemessage,threadgroup,datatype,assertion,bytes,latency\n'+csvchunk;

  
// d3.tsv("/static/data.tsv", function(error, data) {
  // d3.csv(csvchunk, function(error, data) {
    // console.log(csvchunk);
    var data = d3.csv.parse(csvchunk, function(rowobject)
    {
          rowobject.date = new Date(+rowobject.date);
          rowobject.responsetime = +rowobject.responsetime;
          rowobject.label = rowobject.label;

          // console.log(rowobject)
          return rowobject 
    });

    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain(d3.extent(data, function(d) { return d.responsetime; }));

    // color.domain(d3.keys(data[0]).filter(function(key) { return key=="label"} ));
    // data = d3.nest().key(function(d) { return d.label; }).entries(data);

    svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

    svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
          .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Response Time (ms)");

    svg.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("d", line);

    
    
      // , function(row) 
      //             {
      //               console.log("Row:"+row)
      //               var m={ date: row[0], responsetime: row[1], label: row[2], responsecode: row[3] };
      //               console.log("m:"+m);
      //               return m;

                    // return row.map(function(value) 
                    //                 {
                    //                   console.log("Value:"+value)
                    //                   var m={ date: row[0], responsetime: row[1], label: row[2], responsecode: 
                    //                   return +value;
                    //                 });
                  // });
  // console.log(data);

//   d3.csv.parseRows(csvchunk, function(error, data) {
//   if (error) throw error;
  // console.log("in d3 csv, data:"+data)

  // data.forEach(function(d) {
  //   console.log("data for each: "+d);
  //   d.date = new Date(d[0])
  //   d.responsetime = +d[1];
  // });

// for (i = 0; i < data.length; i++) {

//   x.domain(d3.extent(data, function(d) { return d.date; }));
//   y.domain(d3.extent(data, function(d) { return d.responsetime; }));

//   svg.append("g")
//       .attr("class", "x axis")
//       .attr("transform", "translate(0," + height + ")")
//       .call(xAxis);

//   svg.append("g")
//       .attr("class", "y axis")
//       .call(yAxis)
//     .append("text")
//       .attr("transform", "rotate(-90)")
//       .attr("y", 6)
//       .attr("dy", ".71em")
//       .style("text-anchor", "end")
//       .text("Response Time (ms)");

//                 // data[i].date = new Date(data[i].date);
//                 // data[i].responsetime = +data[i].responsetime;
//                 console.log('data after parse:' + new Date(+data[i][0]))
//                 svg.append("path")
//                   .data(data)
//                   .attr("class", "line")
//                   .attr("d", line);
//             }

 // svg.append("path")
 //      .datum(data)
 //      .attr("class", "line")
 //      .attr("d", line);

  // x.domain(d3.extent(data, function(d) { return d.date; }));
  // y.domain(d3.extent(data, function(d) { return d.responsetime; }));

  // svg.append("g")
  //     .attr("class", "x axis")
  //     .attr("transform", "translate(0," + height + ")")
  //     .call(xAxis);

  // svg.append("g")
  //     .attr("class", "y axis")
  //     .call(yAxis)
  //   .append("text")
  //     .attr("transform", "rotate(-90)")
  //     .attr("y", 6)
  //     .attr("dy", ".71em")
  //     .style("text-anchor", "end")
  //     .text("Price ($)");

  // svg.append("path")
  //     .datum(data)
  //     .attr("class", "line")
  //     .attr("d", line);
// });

}
</script>
<script src="//code.jquery.com/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


