<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Historical Performance - Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
         var x='{{ an_attrib}}';
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <div class="page-header">
        <h1>Historical Performance <small>Projects</small></h1>
    </div>

    </head>
    
    <body>
    

    <div>
        <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Project List</div>
        <div class="panel-body">
        <p>Given below is a list of projects results for which exist in the repository</p>

    </div>

  <!-- Table -->
  <table class="table">
        <script type="text/javascript">
            var x='{{ projects_all }}';
            document.writeln(x.split(',')[1])
            
            document.writeln("<th scope=\"row\">Project Name</th>")
            for (var project in x.split(','))
                {

                    document.writeln("<tr><td>");
                    document.writeln(project);
                    document.writeln("</td></tr>");
                }
                
        </script>
  </table>
</div>
</div>
    </div>

    <ul>
        {% for project in object_list %}
    <li class="project">{{ project }}</li>
    {% endfor %}
    </ul>

    </body>
</html>