{% extends "base_index_simple.html" %}
{% block content %}


<div class="jumbotron">            
                          <h1>Tag </h1>
                          <p>List of all Tags in all projects</p>
            </div>

<!-- <div id="page-wrapper"> -->
  <!-- <div class="col-lg-12">
            <h2 class="page-header  fa-2x">All Tags</h2>
  </div> -->

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Description</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>

        {% for tag in tags %}
        <tr>
          <td><a href="/perfhistory/project/{{ tag.project.id }}/tag/{{ tag.id }}/result">{{ tag.name }}</a></td>
          <td>{{ tag.description }}</td>
          <td>{{ tag.project.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


<!-- </div> -->


<script type="text/javascript">
   $(function()
        {
            
            // $("#bs-example-navbar-collapse-1 > ul > li> a")

            // $( ".sidebar-buttons-tags" ).addClass( "active" );
            $('.navbar-nav>li').removeClass("active")
            $('.navbar-nav>li:contains("Tags")').addClass("active")
            

        });

</script>

{% endblock %}