{% extends "base_index.html" %}
{% block content %}


<div id="page-wrapper">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Tag</th>
          <th>Description</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>

        {% for tag in tags %}
        <tr>
          <th scope="row">{{ tag.id }}</th>
          <td>{{ tag.name }}</td>
          <td>{{ tag.description }}</td>
          <td>{{ tag.project }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
   $(function()
        {
            
            
            $( ".sidebar-buttons-tags" ).addClass( "active" );
            

        });

</script>

{% endblock %}